<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uilib">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MoviesActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MovieDescActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>